html{
	background-color: #F71145;
    color: #FFFFFF;
}

/* LINK STYLES SECTIONS FOR THE WEBSITE */
nav a  { color: #ffffff; text-decoration:none;font-weight:bold;font-size: .9em; padding: 5px 22px;
border-radius: 5px;  }    /* unvisited links */
nav a:visited { color: #ffffff; }   /* visited links   */
nav a:hover   { color: #331C12; } /* user hovers     */
nav a:active  { color: #ffffff;}   /* active links    */

#mainContent img{
  max-width: 100%;
  padding: 15px;
}

header {
  margin: 0;
  background: #F71145 url(../images/interfaceImages/banner-background.png) no-repeat;
  background-size: 100%;
  font-size: 5px;
  width: 100%;
  height: 70px;

}

header h1 {
  margin: 0; 
  text-align: center;
  font-size:2em; 
  padding:30px; 
  width: 100px; 
  color:#ffffff; 
}

nav{
	text-align: center;
	margin: 0; 
	background: #F71145;
}
nav ul{
	width: 100%;
	display: inline-block;
	overflow: hidden;
	list-style: none;
	text-align: left;
	padding: 0;	
}
nav ul li{	
    font-size: 2em;
	text-decoration:none;
}
nav ul li:hover{
  background-color: #F71145;
}
a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  background-color: #ff6666;
  padding: 5px;
  margin: 5px;
}
a:hover {
  background-color: #00ffff;
}