html{
	/*background-color: red;*/
}
  
body {
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
	background: #008080;
	width: 100%; 
	margin: 0 auto;
	color:#ffffff; /*  ALL BASE TEXT COLOR  */
}

/* LINK STYLES SECTIONS FOR THE WEBSITE */
nav a  { color: #331C12; text-decoration:none;font-weight:bold;font-size: .9em; padding: 5px 22px;
border-radius: 5px;  }    /* unvisited links */
nav a:visited { color: #331C12; }   /* visited links   */
nav a:hover   { color: #331C12; } /* user hovers     */
nav a:active  { color: #331C12;}   /* active links    */

article a {
  padding: 1em; 
  display: inline-block;
}

header {
  margin: 0;
  background: #800040 url(../images/interfaceImages/banner-background.png) no-repeat;
  background-size: 100%;
  font-size: 10px;
  width: 100%;
  height: 150px;

}

header h1 {
  margin: 0; 
  font-size:2.5em; 
  font-weight:bolder; 
  padding:30px 20px 20px 30px; 
  width: 350px; 
  color: #ffff00; 
}

nav{
	text-align:center;
	margin-top: 0;
	background: #800040;
}
nav ul{
	display:inline-block;
	overflow: hidden;
	border-left-width: .1em;
	border-left-style: solid;
	list-style:none;
	text-align:center;
	padding:0;	
}
nav ul li{	
	display:inline-block;
	border-right-color:#2c2e21;
	text-decoration:none;
}
a {
  display: block;
  background-color: #ffff00;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  padding: 5px;
  margin: 5px;
}
a:hover {
  background-color: #00ff80;
}